.action{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-left: auto;
    margin-right: auto;
}



.input__custom{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 2px;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {box-shadow: 10px 20px 30px magenta;}
  }


.input__custom:hover{
    
    box-shadow: 0 0 0 2px rgb(28, 112, 151); /* box shadow orqali border sakramaydi */
}


.input__custom{
    background-image: url("../img/basketball-icon.png");
    background-size: 80%;
    background-repeat: no-repeat; /* takrorlanmaydi */
    background-position: center; /* background img o'rtaga */
}

.input__custom--2{
    background-image: url("../img/50004.png");
    background-size: 80%;
    background-repeat: no-repeat; /* takrorlanmaydi */
    background-position: center;
}

.input__custom--3{
    width: 200px;
    height: 200px;
    background-image: url("../img/quidditch.png");
    background-size: 80%;
    background-repeat: no-repeat; /* takrorlanmaydi */
    background-position: center;
}


